@font-face {
	font-family: "Montserrat";
	src: url('fonts/Qwitcher_Grypen/QwitcherGrypen-Regular.ttf');
}

.button .text {
	font-family: "Montserrat";
	-fx-font-family: "Montserrat";
	-fx-font-size: 22px;
}